.App-header{
    display: flex;
    flex-direction: column;
    align-items: center;
   min-height: 100vh;
   
}


button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px black;
    background-color: #6acc78;
}
button:hover{
    box-shadow: 0 0 6px black;
    background-color: #b2d2f9;
}