*{
  margin: 0;
  padding: 0;
}
.background{
  background-size: cover;
  background-image: linear-gradient(rgba(252, 213, 134, 0.3), rgba(4, 9, 30, 0.8)),url('../images/table_top.jpg');
  
}

body{
  
min-height: 100vh;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  /* background-size: cover;
  background-image: linear-gradient(rgba(255, 237, 195, 0.3), rgba(4, 9, 30, 0.8)),url('../images/table_top.jpg'); */
  
}
